/*  your css code here. If applicable */
#container{
	margin:20px;
	font-family: sans-serif;
}
#container::before{
	content:"Before Element";
	color:#f00;
	font:20px;
}
#container::after{
	content:"After element";
	color:#f00;
	font:20px;
}